@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&family=Raleway:wght@400;702;800&family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&family=Raleway:wght@400;702;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    font-family: Poppins, sans-serif;
    color: #444444;
}

h1,
h2 {
    font-family: Satisfy, sans-serif;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
}
/* Landing Styles */

#home .carousel-item {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#home .landing-text {
    filter: drop-shadow(16px 5px 10px black);
}
